* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

div {
    padding: 15px;
    margin: 10px;
    background: rgb(143, 143, 143);
    border-radius: 10px;
}

h2{
    text-align: center;
}

#view {
    display: flex;
    flex-direction: column;
    overflow: scroll hidden;
    padding: 20px;
}

.vega-bindings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vega-bind{
    color: white;
    background: rgb(105, 105, 105);
}